.chooseRepSect{
    height: 300px;
    background-color: $secondaryBkgdCol;
    border: 2.5px solid $accentCol;
    display: flex;
    align-items: center;
    margin-top: 0;
    .chooseRepOptions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        span{
            display: inline-block;
        }
    }
}


