.chooseRepSect{
    height: 300px;
    background-color: $secondaryBkgdCol;
    border: 2.5px solid $accentCol;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    margin-top: 0;
=======
    margin: 0;
>>>>>>> 1b92244b49864e46ce1c7c1a77bcc33ebc966e1a
    .chooseRepOptions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        span{
            display: inline-block;
        }
    }
}


